.primary_btn {
  background-color: #2986cc;
  color: white;
  padding: var(--space-2);
  font-size: var(--font-h6);
  border-radius: var(--radius-md);
}

.secondary_btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: var(--radius-md);
  color: white;
  font-size: var(--font-h6);
  padding: var(--space-2);
}

.header_btn_container {
  display: flex;
  gap: var(--space-3);
  margin-top: var(--space-10);
}
