.main_header {
  width: 100%;
  padding-inline: 16px;
  border: 1px solid black;
  padding: var(--space-1);
  border: 0.1px solid lightgray;

  .nav_main {
    width: 100%;
    max-width: 1728px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;

    .nav_menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--space-3);
    }
  }
}
